#ProductContainer{
    border-bottom: 1px solid silver;
    display: flex;
    height: 88vh;
}

#ProductContainer .left{
    width: 50%;
}
#ProductContainer .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ProductContainer .left button{
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, .5);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#ProductContainer .left .leftbtn{
    top: 380px;
}

#ProductContainer .left .rightbtn{
    top: 380px;
    left: 710px;
}

#ProductContainer .right{
    width: 50%;
    box-sizing: border-box;
    padding: 64px 125px 0px 125px;
    overflow: scroll;
    overflow-x: hidden;
}

#ProductContainer .right p:nth-child(1){
    font-size: 26px;
    margin-bottom: 6px;
}

#ProductContainer .right .pricingSection{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 12px auto;
}


#ProductContainer .right .pricingSection del{
    margin-left: 12px;
    margin-right: 12px;
    color: rgba(0, 0, 0, 0.3);
}

#ProductContainer .right .pricingSection p{
    color: rgb(164, 164, 164);
    font-size: 16px;
}
#ProductContainer .right > button{
    margin: 22px auto;
    height: 60px;
    background-color: #20a87e;
    color: white;
    border: none;
    width: 100%;
    font-size: 18px;
}
#ProductContainer .right .disSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px auto;
    color: #c21122;
}
#ProductContainer .right .disSection i{
    font-size: 18px;
}

#ProductContainer .right .checking{
    margin: 30px auto;
    display: flex;
}
#ProductContainer .right div input{
    border: none;
    padding: 6px 12px;
    background-color: #f7f7f7;
    font-size: 22px;
    color: grey;
    outline: none;
    height: 50px;
    width: 80%;
}

#ProductContainer .right .checking button{
    width: 20%;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #f3eded;
    background-color: #bdbaba;
}

#ProductContainer .right .productInfo{
    margin: 20px auto;
    font-size: 22px;
}
#ProductContainer .right .productInfo div{
    border-bottom: #20a87e 1px solid;
    padding:12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #20a87e;
}

#ProductContainer .right::-webkit-scrollbar {
    width: 6px;
  }
#ProductContainer .right::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }
  
  .float{
    position: absolute;
    top: 10vh;
    left: 80vh;
    font-size: 24px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
}

.recentContainer{
    margin: 12px auto;
    padding: 24px;
}

.recentContainer > p{
    padding-left: 8px;
    font-size: 28px;
}

#recentlyViewed{
    margin: 12px auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: repeat(99999, 1fr);
    overflow-x: scroll;
}

#recentlyViewed::-webkit-scrollbar {
    height: 5px;
  }
#recentlyViewed::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 3px;
    box-sizing: content-box;
    /* padding: 2px; */
  }

#recentlyViewed > div{
    padding: 20px;
    width: 150px;
    background-color: #ffffff;
    margin: 2px 8px;
}

#recentlyViewed > div > img{
    width: 100%;
}

#recentlyViewed > div > button {
    background-color: #20a87e;
    color: white;
    border: none;
    padding: 6px;
    width: 100%;
}