@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&family=Poppins&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: rgb(237, 235, 235);
}
.banner {
    margin: 8px;
    height: 220px;
    display: flex;
}

.banner .left {
    width: 35%;
    padding: 34px 0px 0px 34px;
    background-color: #3fbb2c;
}

.banner .left h1:nth-child(1) {
    font-size: 60px;
    margin-bottom: 20px;
}

.banner .right {
    width: 65%;
    background-color: #ceeaf2;
    padding: 34px;
}

.banner .right .first {
    line-height: 50px;
}

.banner .right .second {
    line-height: 55px;
}

.banner .right .second div {
    width: 60%;
    border: 1px solid rgb(106, 106, 106);
}

#bagpackSection {
    height: 610px;
}

#bagpackSection img {
    height: 100%;
    width: 100%;
}

#backpacks {
    position: absolute;
    display: block;
    height: inherit;
    width: 40%;
}
#watchbandSection {
    height: 610px;
}

#watchbandSection img {
    height: 100%;
    width: 100%;
}

#watchbands {
    position: absolute;
    display: block;
    height: inherit;
    width: 40%;
}
#messengerSection {
    height: 610px;
}

#messengerSection img {
    height: 100%;
    width: 100%;
}

.messengers {
    position: absolute;
    display: block;
    height: inherit;
    width: 40%;
}

#shop-categories {
    height: 375px;
    padding: 34px;
    display: flex;
    color: rgb(76, 75, 75);
}

#shop-categories .left {
    height: inherit;
    padding-top: 140px;
    padding-left: 50px;
    box-sizing: border-box;
    width: 28%;
    margin-right: 30px;
}

#shop-categories .right {
    display: flex;
    justify-content: space-evenly;
}

#shop-categories .right .card {
    padding: 20px;
    width: 25%;
}

#shop-categories .right .card img {
    width: 100%;
    object-fit: cover;
    height: 90%;
}

#shop-categories .right .righbtn {
    background: none;
    border: none;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 24px;
    right: 54px;
    top: 1110px;
    cursor: pointer;
    z-index: 4;
}
#shop-categories .right .leftbtn {
    z-index: 4;
    background: none;
    border: none;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 24px;
    right: 1101px;
    top: 1110px;
    cursor: pointer;
}

#watchbandSection #watchbands {
    position: absolute;
    display: block;
    height: 100%;
    width: 40%;
}

#gifts {
    position: absolute;
    background-color: rgb(237, 235, 235);
    display: none;
    justify-content: space-between;
    line-height: 34px;
}

#gifts img {
    width: 20%;
    object-fit: cover;
    height: inherit;
}

#gifts p {
    font-weight: lighter;
}

#gifts p:hover {
    text-decoration: underline;
}

#gifts div {
    padding: 25px 30px;
    width: 15%;
    border-right: 1px solid rgb(172, 169, 169);
    cursor: pointer;
}

#gifts img {
    width: 35%;
}

#gifts div h4 {
    margin-bottom: 8px;
}

#gifts .five {
    line-height: 50px;
}
#studio-collections{
    padding: 24px;
    padding-left: 32px;
}
#studio-collections .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42px;
    margin: 24px 0px;
}

#studio-collections .container a{
    color: black;
}
#newarrivalsection {
    height: 375px;
    padding: 34px;
    display: flex;
    color: rgb(76, 75, 75);
}

#newarrivalsection .left {
    height: inherit;
    padding-top: 140px;
    padding-left: 50px;
    box-sizing: border-box;
    width: 28%;
    margin-right: 30px;
}

#newarrivalsection .right {
    display: flex;
    justify-content: space-evenly;
}

#newarrivalsection .right .card {
    padding: 20px;
    width: 25%;
}

#newarrivalsection .right .card img {
    width: 100%;
    object-fit: cover;
    height: 90%;
}

#newarrivalsection .right .card h6{
    color: rgb(148, 142, 142);
    font-weight: 400;
}

#newarrivalsection .right .righbtn {
    background: none;
    border: none;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 24px;
    right: 54px;
    top: 3600px;
    cursor: pointer;
    z-index: 4;
}
#newarrivalsection .right .leftbtn {
    z-index: 4;
    background: none;
    border: none;
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 24px;
    right: 1100px;
    top: 3600px;
    cursor: pointer;
}

#workEssential{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    padding: 24px;
    height: 610px;
}        

#workEssential .card img{
    width: 100%;
}

#workEssential a{
    color: black;
}
#recessCollections{
    margin: 24px;
    height: 600px;
}
#recessCollections .positioning{
    position: absolute;
    color: white;
    top: 4974px;
    left: 55px;
}
#recessCollections .card{
    margin-left: 5px;
}
#recessCollections .card img{
    width: 33%;
    height: 600px;
}
#collectionSection{
    padding: 24px;
    padding-left: 32px;
}
#collectionSection .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42px;
    margin: 24px 0px;
}
#collectionSection .container a{
    color: black;
}
#organiserSection {
    height: 610px;
    margin: 12px 0px;
}

#organiserSection img {
    height: 100%;
    width: 100%;
}

.organisers {
    position: absolute;
    display: block;
    height: inherit;
    width: 40%;
}
#giftSection {
    height: 610px;
    margin: 34px 0px 14px 0px;
}

#giftSection img {
    height: 100%;
    width: 100%;
}

.gifting {
    position: absolute;
    display: block;
    height: inherit;
    width: 40%;
}
#everydayStory{
    display: flex;
    justify-content: space-between;
    height: 500px;
}
#everydayStory .left{
    padding: 105px 0px 0px 100px;
    width: 40%;
}
#everydayStory .left h1{
    font-size: 45px;
}
#everydayStory .left h3{
    font-weight: 400;
    margin: 22px 0px;
}
#everydayStory .left a{
    font-size: 22px;
    color: rgb(74, 73, 73);
}
#everydayStory .right{
    width: 50%;
}
#everydayStory .right img{
    height: 100%;
    width: 100%;

}
#everydayNeeds{
    margin: 45px 0px 30px 0px;
    border-top: 1px solid rgba(188, 188, 188, 0.5);
    border-bottom: 1px solid rgba(188, 188, 188, 0.5);
}
#everydayNeeds p{
    font-size: 40px;
    text-align: center;
    margin: 34px 0px 14px 0px;
}
#everydayNeeds marquee{
    display: block;
    margin: 30px auto;
    width: 94%;
}
#featuredInSection{
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid rgba(188, 188, 188, 0.5);
}
#exclusiveAccess {
    font-size: 26px;
    text-align: center;
    margin: 26px auto;
}
#exclusiveAccess .input{
    margin: 40px auto;
}
#exclusiveAccess input[type='text']{
    padding: 14px;
    outline: none;
    border: none;
    font-size: 24px;
    margin-right: -8px;
}
#exclusiveAccess button{
    padding: 14px;
    font-size: 24px;
    border: none;
    background-color: rgb(185, 182, 182);
}
#exclusiveAccess .lower p{
    font-size: 18px;
}

#exclusiveAccess .lower{
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}
.cond{
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 180px;
}
#networkSection{
    display: flex;
    height: 310px;
    border-bottom: 1px solid silver;
}
#networkSection .left{
    padding: 20px;
    display: flex;
    width: 70%;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    justify-content: space-around;
    line-height: 26px;
}
#networkSection .left h3{
    margin-bottom: 4px;
}
#networkSection .left .first{
    width: 26%;
}
#networkSection .right{
    width: 30%;
    height: 100%;
}
#networkSection .right .card{
    border-top: 1px solid silver;
    padding: 0px 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid silver;
}
#networkSection .right .card:nth-child(2){
    border-bottom: none;
}
#paymentSection{
    margin: 35px 0px;
    text-align: center;
}
#paymentSection h4{
    margin-bottom: 24px;
}
#copyright{
    background-color: black;
    color: white;
    padding: 32px;
}

#floating{
    position: absolute;
    top: 8200px;
    left: 590px;
    font-size: 24px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
}